@import "../../Styles/variables.scss";

.apartmentDetails {
  display: flex;
  margin: 20px 0;
}

.apartmentInfos {
  margin-right: auto;
  width: 100%;
}

.apartmentTitle {
  color: $primary-color;
  font-weight: 500;
  font-size: 36px;
  margin: 0;
}

.apartmentLocation {
  color: $primary-color;
  font-weight: 500;
  font-size: 18px;
  margin-top: 2px;
}

.apartmentTags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(115px, 165px));
  gap: 1rem;
}

.owner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ownerDetails {
  display: flex;
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  & img {
    border-radius: 50%;
    width: 70px;
  }
}

.ownerName {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & p {
    margin: 0;
  }
}

.collapse {
  display: flex;
  gap: 6%;
  font-size: 18px;
  overflow: hidden;
}

@media screen and (width <= $screen-tablet) {
  .apartmentDetails {
    flex-direction: column;
  }
  .apartmentInfos {
    margin-bottom: 20px;
  }
  .apartmentTitle {
    font-size: 18px;
  }
  .apartmentLocation {
    font-size: 14px;
    margin-top: 10px;
  }
  .apartmentTags {
    grid-template-columns: repeat(auto-fit, minmax(84px, 118px));
    height: auto;
  }
  .owner {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .ownerDetails {
    font-size: 12px;
    & img {
      width: 32px;
    }
  }
  .collapse {
    flex-direction: column;
  }
}
