//colors
$primary-color: #ff6060;
//text white
$secondary-color: #ffffff;
// background-color grey
$tertiary-color: #f6f6f6;

// Breakpoints
$screen-tablet: 768px;
$screen-mobile: 480px;

//margin
$margin-screen-tablet: 0 20px;
