@import "../Styles/variables.scss";

.collapseGroup {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

@media screen and (width <= $screen-mobile) {
  .collapseGroup {
    width: 100%;
  }
}
