@import "../Styles/variables.scss";

.apartmentCarroussel {
  position: relative;
  height: 415px;
}

.carrouselImg img {
  position: absolute;
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.on {
  animation: opacityup 1.2s ease forwards;
  //opacity: 1;
}

@keyframes opacityup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.off {
  animation: opacitydown 1.2s ease forwards;
  //opacity: 0;
}

@keyframes opacitydown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.drop {
  position: absolute;
  top: 43%;
  cursor: pointer;
}
.right {
  right: 1%;
  :hover {
    background-color: $primary-color;
  }
}
.left {
  left: 1%;
}

.counterimage {
  position: absolute;
  bottom: 1%;
  left: 50%;
  color: $secondary-color;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (width <= $screen-tablet) {
  .apartmentCarroussel {
    height: 255px;
  }
  .drop {
    height: 27px;
  }
}
