@import "../Styles/variables.scss";

.collapseCard {
  width: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  &.showCard {
    max-height: max-content;
    transition: max-height 0.5s ease-in;
  }
  &.hideCard {
    max-height: 53px;
    transition: max-height 2s ease-out;
  }
}

.up {
  transform: rotate(180deg);
  transition: transform 0.4s linear;
}

.down {
  transform: rotate(0);
  transition: transform 0.4s linear;
}

.bannerCollapseCard {
  cursor: pointer;
  height: 52px;
  display: flex;
  color: $secondary-color;
  padding-inline: 10px;
  background-color: $primary-color;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

.collapseText {
  transform-origin: top;
  z-index: -1;
  position: relative;
  font-size: 18px;
  z-index: -1;
  padding: 20px;
  color: #ff6060;
  background-color: #f6f6f6;
  border-radius: 10px 10px 5px 5px;
  line-height: 26px;
  & ul {
    padding: 0;
    margin: 0;
  }
  &.textVisible {
    transform: scaleY(1);
    transition: transform 0.5s linear;
    //animation: translate 0.7s ease forwards;
  }
  /* @keyframes translate {
    0% {
      transform: translateY(-160%);
      opacity: 0;
    }
    100% {
      transform: translateY(-7px);
      opacity: 1;
    }
  } */
  &.textHide {
    transform: scaleY(0);
    transition: transform 0.5s linear;
    //animation: reverseTranslate 1.5s linear forwards;
  }
  /* @keyframes reverseTranslate {
    0% {
      transform: translateY(-7px);
      opacity: 1;
    }
    100% {
      transform: translateY(-160%);
      opacity: 0;
    }
  } */
}

@media screen and (width <= $screen-tablet) {
  .collapseCard {
    width: 100%;
  }
  .bannerCollapseCard {
    font-size: 13px;
    height: 30px;
  }
  .collapseText {
    font-size: 12px;
  }
}
