@import "../styles/variables.scss";

.cardFooter {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.imgFooter {
  width: 122px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.textFooter {
  color: $secondary-color;
}
@media screen and (width <= $screen-mobile) {
  .cardFooter {
    padding: 40px;
  }
  .imgFooter {
    margin-top: 1rem;
    width: 122px;
  }
  .textFooter {
    width: 130px;
  }
}
