@import "../styles/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 40px;
  margin-inline: 100px;
  &__logo :hover {
    scale: 1.03;
  }
  &__link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    & a {
      color: $primary-color;
      text-decoration: none;
      font-size: 24px;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        text-decoration: underline;
      }
    }
  }
}
@media screen and (width <= 1024px) {
  .navbar {
    margin: 30px;
  }
}
@media screen and (width <= $screen-tablet) {
  .navbar {
    margin: 20px;
    &__link {
      gap: 8px;
      text-transform: uppercase;
      & a {
        font-size: 12px;
      }
    }
  }
}
@media screen and (width <= $screen-mobile) {
  .navbar {
    margin: 10px;
  }
  .navbar__imgLogo {
    width: 140px;
  }
}
